	.content
		width 100%
		float left
		.content-header
			width 90%
			margin-left 5%
			margin-right 5%
			float left
			margin-top 200px
			text-align center			
		.content-search
			width 90%
			margin-left 5%
			margin-right 5%
			float left
			margin-top 10px
			.search
				width 99%
				padding 0.5%
				float left
				background $blanco
				height auto
				border-top solid 2px black
				border-bottom solid 2px black
				box-shadow -1px 1px 2px 1px white
				.data
					width 70%
					float left
					padding 0.5%
					margin 0.5%
					margin-right 0px
					padding-top 9px
					padding-bottom 9px
					border solid 2px black
					border-radius 10px 0px 0px 10px
					font-size 1.5em
				.btn
					width 25%
					float left
					padding 0.5%
					margin 0.5%
					margin-left 0px
					background black
					border none
					color white
					padding-top 11px
					padding-bottom 11px	
					border-radius 0px 10px 10px 0px
					font-size 1.5em				
		.content-result
			width 90%
			margin-left 5%
			margin-right 5%
			float left
			.header
				width 99%
				float left
				padding 0.5%
				text-align center
				background black
				color white
				font-size 1em
				text-align justify
			.row
				width 99%
				float left
				padding 0.5%
				.image
					width 24%
					float left
					padding 0.5%
					background white
					box-shadow -1px 1px 2px 1px silver
					img
						width 100%
						float left
				.profile
					width 74%
					float left
					padding 0.5%
					.homepage
						text-align right
						width auto
						float right
					.name
						width 99%
						float left
						padding 0.5%
						font-size 1.4em
					.biography
						width 99%
						float left
						padding 0.5%
						font-size 0.95em
						text-align justify
				.movies
					width 99%
					float left
					padding 0.5%
					border solid 1px #EBEBEC
					color black
					border-radius 5px
					background white
					.title-top
						width 99%
						float left
						padding 0.5%
						font-size 1.1em
						background #EBEBEC
						color black
						font-family: 'Anton', sans-serif;
					.movie
						width 99%
						float left
						padding 0.5%
						color gray
						background #F4F5F8
						margin-top 5px
						margin-bottom 5px
						.image
							width 19.5%
							float left
							background #EBEBEC	
							margin-right 0.5%					
							img
								width 100%
								float left
						.content-description, .content-description-min							
							.title
								width 100%
								float left
								color black
								margin-top 10px
								margin-bottom 10px	
								color black	
								font-size 1.5em	
								font-family: 'Anton', sans-serif;	
								span
									float right
									font-size 0.75em
							.description
								width 100%
								float left
								font-size 0.95em
								text-align justify
								line-height 24px
								color gray
						.content-description
							width 79%
							float left
							margin-top 10px
							margin-bottom 10px									
						.content-description-min
							width 59%
							float left
							margin-top 10px
							margin-bottom 10px
						.poster
							width 13.5%
							float left
							padding 0.5%
							background black
							margin-left 5.5%
							transform rotate(14deg)
							img
								width 100%
								float left								
		.footer
			width 90%
			margin-left 5%
			margin-right 5%
			float left
			margin-top 10px
			text-align center			