@media screen and (min-width : 480px) and (max-width:768px)
	.no-responsive-med
		display none	
	.no-responsive
		display none
	.content-header
		margin-top 10px !important
	.profile
		width 99% !important
	.movie
		>.image
			width 99% !important
		.content-description, .content-description-min
			width 99% !important
		.poster
			display none !important		
					
@media screen and (max-width:480px)
	.no-responsive-min
		display none
	.no-responsive
		display none
	.content-header
		margin-top 10px !important		
	.profile
		width 99% !important		
	.movie
		>.image
			width 99% !important
		.content-description, .content-description-min
			width 99% !important
		.poster
			display none !important		